<!DOCTYPE html>
<html>
  <head>
    <%- include('../layout/head') %>
  </head>
  <body>
    <header>
      <%- include('../layout/header') %>
    </header>
    <section class="task-details">
      <ul>
        <li data-id="<%= task.id %>">
          <h4>Task Title: <%= task.title %></h4>
          <p>Description: <%= task.description %></p>
          <p>Contact Info: <%= task.contact %></p>
          <p>Category: <%= task.category %></p>    
        </li>
      </ul>
    </section>

    <section class="update-task">
      <h2>Update Task:</h2>
      <form action="/update/<%= task.id %>?_method=PUT" method="post">
        <fieldset>
          <input type="text" name="title" value="<%= task.title %>" placeholder="task name">
          <textarea name="description" placeholder="task desc"><%= task.description %></textarea>
          <input type="text" name="category" value="<%= task.category %>" placeholder="task category">
          <input type="text" name="contact" value="<%= task.contact %>" placeholder="task contact info">
          <input type="hidden" name="status" value="not done">
          <button type="submit">Update Task!</button>
        </fieldset>       
      </form>
    </section>
  </body>
</html>